# Aidevix App Envitonment Variables Template

# API URL (Must end with /api)
EXPO_PUBLIC_API_URL=https://your-backend-url.app/api

# Social Media Links
EXPO_PUBLIC_TELEGRAM_CHANNEL=https://t.me/yourchannel
EXPO_PUBLIC_TELEGRAM_BOT=https://t.me/yourbot
EXPO_PUBLIC_INSTAGRAM_URL=https://instagram.com/yourprofile

# Expo Project ID (From expo.dev project settings)
EXPO_PUBLIC_PROJECT_ID=your-project-id
